In [1]:
print('Hello World')

Hello World

In [2]:
ip = input('Please enter password:')
if len(ip) < 6:
    print('Password is too short!')

Please enter password:sunny
Password is too short!

In [3]:
num  = input('Please enter a number:')

if int(num) % 2 == 0:
    print('Number is Even')
else:
    print('Number is odd')

Please enter a number:34
Number is Even

In [5]:
a = int(input('Enter a ='))
b = int(input('Enter b ='))
c = int(input('Enter c ='))

if a == b == c:
    print('Equilateral')
elif (a == b ) or (a == c) or (b == c):
    print('Isosceles')
else:
    print('Scalene')

Enter a =2
Enter b =3
Enter c =4
Scalene

In [414]:
def fibonacci(n):
    if n == 1:
        return 1
    if n == 2:
        return 1
    if n > 2:
        return fibonacci(n-1) + fibonacci(n-2)

[fibonacci(i) for i in range(1, 10)]

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [12]:
def is_(year):
    if ((year % 4 == 0) or (year % 400 == 0)) and (year % 100 != 0):
        return True 
    else:
        return False

In [52]:
x = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41.0], ['Harsh', 39.0]]

second = sorted(set([j for i, j in x]))[1]
for i,j in x:
    if j == second:
        print(i)

In [59]:
x = 'hACKERrANK.COM PRESENTS "pYTHONIST 2".'
print(''.join([i.lower() if i.isupper() else i.upper() for i in x]))

HackerRank.com presents "Pythonist 2".

In [61]:
a = 'this is a string'
a = a.split(' ')
"-".join(a)

'this-is-a-string'

In [81]:
s = 'ABCDCDC'
ss = 'CDC'

sum([1 for i in range(len(s) - 2) if s[i : i+3] == ss])

2

In [30]:
start_list = [5, 3, 1, 2, 4]
square_list = []

# Your code here!
for i in start_list:
    square_list.append(i ** 2)
    square_list.sort()

print(square_list)

[1, 4, 9, 16, 25]

In [31]:
def fizz_count(x):
    count = 0
    for i in x:
        if i == 'fizz':
            count = count + 1
    return count
        
fizz_count(['fizz', 'buzz', 'fizz', 'fizz', 8, 'buzz', 'fIzZ'])

3

In [83]:
n = ["Michael", "Lieberman"]

def add_strings(lst):
    result = ''
    for i in lst:
        result = result + i
    return result

add_strings(n)

'MichaelLieberman'

In [33]:
n = [[1, 2, 3], [4, 5, 6, 7, 8, 9]]

def flatten(lists):
    results = []
    for numbers in lists:
        for i in numbers:
            results.append(i)
    return results

flatten(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
def digit_sum(n):
    result = 0
    for i in str(n):
        result = result + int(i)
    return result

digit_sum(1234)

10

In [86]:
def factorial(x):
    if x == 1:
        return 1
    elif x > 1:
        return x * factorial(x-1)

factorial(8)

40320

In [39]:
def is_prime(x):
    if x < 2:
        return False
    for n in range(2, x):
        if x%n == 0:
            return False
    else:
        return True
    
is_prime(29)

True

In [415]:
def rev(text):
    string = ''
    for i in range(len(text)):
        string  = string + text[-(i+1)]
    return string

rev('sunny')

'ynnus'

In [416]:
def anti_vowel(text):
    result = ''
    for i in text:
        if i.lower() not in "aeiou":
            result = result + i
    return result

anti_vowel('dineshviswatejagurramsunny')

'dnshvswtjgrrmsnny'

In [418]:
sentence = 'Hey fellow warriors'
def spin_words(sentence):
    result = []
    for i in sentence:
        result.append(i)
    return result
            
asd = spin_words(sentence)  
print(*asd)

H e y   f e l l o w   w a r r i o r s

In [45]:
score = {"a": 1, "c": 3, "b": 3, "e": 1, "d": 2, "g": 2, 
         "f": 4, "i": 1, "h": 4, "k": 5, "j": 8, "m": 3, 
         "l": 1, "o": 1, "n": 1, "q": 10, "p": 3, "s": 1, 
         "r": 1, "u": 1, "t": 1, "w": 4, "v": 4, "y": 4, 
         "x": 8, "z": 10}

def scrabble_score(word):
    new_word = word.lower()
    result = 0
    for i in new_word:
        result = result + score[i]
    return result

scrabble_score('SUNNY')

8

In [420]:
def censor(text, word):
    my_list = text.split(' ')
    for i in my_list:
        if i == word:
            result = text.replace(word, '*'*len(word))
    return result

censor('my name is dinesh', 'dinesh')

'my name is ******'

In [47]:
def purify(x):
    new_list = []
    for i in x:
        if i%2 == 0:
            new_list.append(i)
      
    return new_list

purify([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [48]:
def median(my_list):
    my_list.sort()
    
    if len(my_list) % 2 != 0:
        return my_list[int((len(my_list) - 1)/2)]
    else:
        return (my_list[int(len(my_list)/2) - 1] + my_list[int(len(my_list)/2)]) / 2

median([4,5,5,4])

4.5

In [421]:
squares = [i ** 2 for i in range(1, 11)]
print(*filter(lambda x: x >= 30 and x <= 70, squares ))

36 49 64

In [423]:
#prime numbers

def prime_numbers(n):
        for i in range(2,n+1):
            for j in range(2, i):
                if i%j == 0:
                    break
            else:
                print(i)

prime_numbers(20)

2
3
5
7
11
13
17
19

In [429]:
 def fibo(n):
        a, b = 0, 1
        for i in range(n):
            a, b = b, a+b
        return a

[fibo(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [35]:
def feb_to(n):
    fibs = [1,1]
    for i in range(2, n+1):
        fibs.append(fibs[-1] + fibs[-2])
    return fibs

print(feb_to(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [430]:
import pandas as pd
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [431]:
data.groupby('Gender')['Gender'].count()

Gender
Female    4543
Male      5457
Name: Gender, dtype: int64

## Binary Search.

In [64]:
#Linear Search

def linear_search(data, target):
    for i in range(len(data)):
        if data[i] == target:
            return True
    return False

a = [1,2,3,4,5,6,7,8,9,10]

linear_search(a, target= 6)

True

In [69]:
# Binary Search

def binary_search(data, target):
    low = 0
    high = len(data) - 1
    while low <= high:
        mid = (low + high) // 2
        if target == data[mid]:
            return True
        elif target > data[mid]:
            low = mid + 1
        else:
            high = mid - 1
    return False

binary_search(a, target= 1)

True

In [74]:
# Recursive Binary Search

def recursive_binary_search(data, target, low, high):
    if low > high:
        return False
    else:
        mid = (low + high) // 2
        if target == data[mid]:
            return True
        elif target < data[mid]:
            return recursive_binary_search(data, target, low, mid - 1)
        else:
            return recursive_binary_search(data, target, mid + 1, high)
        
recursive_binary_search(a, 21, 0, len(a)-1)

False

## Finding Upper Case letter.

In [434]:
input_str_1 = "lucidProgramming"
input_str_2 = "luciDProgramming"
input_str_3 = "lucidprogramming"

def find_uppercase_iterative(input_str):
    for i in input_str:
        if i == i.upper():
            return i
    return 'No Upper-Case Character found.'

print(find_uppercase_iterative(input_str_1))
print(find_uppercase_iterative(input_str_2))
print(find_uppercase_iterative(input_str_3))

P
D
No Upper-Case Character found.

## Palindrome.

In [126]:
ns = ''.join([i.lower() for i in s if i.isalpha()])
print(ns == ns[::-1])

True

In [141]:
s = 'Was it a cat I saW?'

def is_palindrome(sentence):
    i = 0
    j = len(s) - 1
    while i < j:
        while not s[i].isalnum() and i < j:
            i += 1
        while not s[j].isalnum() and i < j:
            j -= 1
        if s[i].lower() != s[j].lower():
            return False
        i += 1
        j -= 1
    return True

is_palindrome(s)

True

In [435]:
def likes(names):
    if len(names) == 0:
        return 'no one likes this'
    elif len(names) == 1:
        return str(names[0]) + ' likes this'
    elif len(names) == 2:
        return str(names[0]) + ' and ' + str(names[1]) +' like this'
    elif len(names) == 3:
        return str(names[0]) + ', ' + str(names[1]) + ' and ' + str(names[2]) +' like this'
    else :
        return str(names[0]) + ', ' + str(names[1]) + ' and ' + str(len(names) - 2) + ' others like this'
        
print(likes(['hari','sunil','nani','mohit']))

hari, sunil and 2 others like this

In [436]:
def make_negative( number ):
    if number > 0:
        return -(number)
    else:
        return number

In [437]:
path = 'lead_gen.csv'
data = [x.strip().split(',') for x in open(path)]
data_1 = data[1:]
source = [i[0] for i in data_1]
count_dict = {}

for i in source:
    if i not in count_dict:
        count_dict[i] = 1
    else:
        count_dict[i] += 1
        
count_dict

{'Adwords': 44001, 'Facebook': 162139, 'Influencer': 11913, 'Taboola': 69689}

In [368]:
a = [1,2,3]
b = [4,5,6]

print(*[(i,j) for i in a for j in b])

(1, 4) (1, 5) (1, 6) (2, 4) (2, 5) (2, 6) (3, 4) (3, 5) (3, 6)

In [147]:
x = 'hack'

def abc(sentence):
    for i in sentence:
        print(i)
    for i in sentence:
        for j in sentence:
            if i != j:
                print(i+j)
                
abc('abc')

a
b
c
ab
ac
ba
bc
ca
cb

In [438]:
s = 'My name is dinesh'

print(' '.join(reversed(s.split())))
s[::-1]

dinesh is name My

'hsenid si eman yM'

In [365]:
s = "Madam I'm Adam"

def palindrome(sentence):
    ns = ''.join([i.lower() for i in s if i.isalnum()])
    if ns == ns[::-1]:
        return True
    else:
        return False
    
palindrome(s)

True

In [338]:
s = '?ra93ts live on no evil st39ar?'
def palindo(sentence):
    i = 0
    j = len(sentence) - 1
    while i < j:
        while not sentence[i].isalnum() and i < j:
            i += 1
        while not sentence[j].isalnum() and i < j:
            j -= 1
        if sentence[i].lower() != sentence[j].lower():
            return False
        i += 1
        j -= 1
    return True

palindo(s)

True

In [364]:
Q = 'aaabbccaadd'
a = '3a2b2b2a2d'


def str_comp(string):
    
    result = ''
    count = 1
    
    for i in range(len(string)-1):
        if string[i] == string[i+1]:
            count  = count + 1
        else:
            result += str(count) + string[i]
            count = 1
    result += str(count) + string[i]   
    return result

str_comp(Q)

'3a2b2c2a2d'

In [356]:
q = 'springBOard'
r = ''
for i in q:
    if i.lower() not in 'aeiou':
        r += i
print(len(r))

8

In [397]:
path = 'Churn_Modelling.csv'

data = [i.strip().split(',') for i in open(path)]
data_wo_header = data[1:]
credit_score = [i[3] for i in data_wo_header] 
row_number = [i[0] for i in data_wo_header] 
Balance =  [i[8] for i in data_wo_header] 


x = list(zip(row_number, Balance))

print(*[(i,j) for i,j in x if j == max(Balance)])

('7629', '99986.98')

In [408]:
def bsort(a):
    for i in range(0, len(a) - 1):
        for j in range(0, len(a) -1 -i):
            if a[j] > a[j+1]:
                a[j], a[j+1] = a[j+1], a[j]
    return a

bsort([9,8,8,7,6,5,4,3,2,1])

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9]

In [410]:
def select_sort(b):
    for i in range(0,len(b) - 1):
        minindex = i
        for j in range(i+1, len(b)):
            if b[minindex] > b[j]:
                minindex = j
        if minindex != i:
            b[i],b[minindex] =  b[minindex],b[i]
    return b

select_sort([9,8,8,7,6,5,4,3,2,1])

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9]